name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    uses: stylelint/.github/.github/workflows/call-lint.yml@3002601b682d04de7f3de381287b9ca0404786c8 # 0.3.0
    permissions:
      contents: read

  test:
    uses: stylelint/.github/.github/workflows/call-test.yml@2844df54744d5b95507c6df844b1422478dd3cc1 # 0.5.0
    permissions:
      contents: read
